# Directories
__pycache__/
.idea/
backups/
credentials/
data/
data/placeholder/store.sqlite3
data/postgres/
data/prefect_db/
flows/classification/results/
flows/classification/results/archive/
import/
neo4j_db/
node_modules/
opol/textgrad
plugins/
scripts/
versions_x/
z_dev_scripts

# Files
.DS_Store
.env
all.txt
commands.sh
commands2.sh
compose.utils.yml
copy_all.py
copy_mains.py
gen_helm.py
helm/values.yaml
init_machine.sh
init_ollama_gpu.sh
mains.txt
open-politics/charts/open-politics-webapp/values.yaml
opol/opol/stack/flows.sh
opol/opol/stack/services.sh

package-lock.json
package.json
prefect-k8s.yaml
skaffold.yaml

opol/stack/flows/classification/results/archive/