uvicorn 
fastapi
sqlalchemy
pydantic
geopy
redis 
asyncpg
psycopg2-binary
requests
pgvector
sqlmodel
prefect
geojson
httpx
logfire
logfire[asyncpg]
prefect-docker
prefect-kubernetes
opol >= 0.1.61
google-generativeai
instructor
prettyprint
scikit-learn
matplotlib
optuna
umap-learn
hdbscan
newspaper4k
